.home {
  background-image: url("../assets/bg.jpg");
  background-color: $color-3;
  color: $white;
  padding: 6em 0 2em 0;
  height: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .product-name {
    font-family: $questrial;

    h1 {
      text-shadow: 0 3px 6px rgba(255, 0, 0, 0.961);
      letter-spacing: 0.15em;
      font-size: 5em;
    }
  }
}
.navbar-default {
  background: none;
}
