.home {
  background-image: url("../assets/bg.jpg");
  background-color: $color-3;
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
