.home {
  background-image: url("../assets/bg.jpg");
  background-color: $color-3;
  color: $white;
  //overflow: auto;
  padding: 6em 0 2em 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-default {
  background: none;
}
