// Colors
$white: #fff !default;
$color-1: #69cad3 !default;
$color-2: #31678c !default;
$color-3: #2f4858 !default;
$color-4: #f7ae2b !default;
$color-5: #f16522 !default;
$black: #000 !default;

// Main Styles
$body-bg: $white !default;
$text-color: $color-3 !default;

// Typography
$open-sans: 'Open Sans', sans-serif;
$questrial: 'Questrial', sans-serif;
$font-size-base: 0.875rem !default;
